html, body {
    height: 100%;
    background-size: cover;
    background: url(../img/puzzle-1261138.jpg) center;
}
.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background: no-repeat center;
}
.modal-content {
    border: 0 solid black !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25) !important;
    border-radius: 0 !important;
}
.modal-backdrop {
    background-color: #fff !important;
    background-size: cover;
    background: url(../img/puzzle-1261138.jpg) center;
}
.modal-backdrop.show {
    opacity: 0.7 !important;
}
.box {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    padding: 10px;
    margin: 10px;
    position: relative;
}
.headline {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
}
.text {
    font-size: 1.5rem;
}
h1.headline {
    margin-bottom: 0;
}
.logoPadding {
    padding-right: 133px;
}
.logo {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.width-100 {
    width: 100%;
}
.font-size-125 {
    font-size: 125%;
}
.no-margin {
    margin: 0 !important;
}
.flex-margin > :not(:last-child) {
    margin-right: .25rem;
}
.flex-margin > :not(:first-child) {
    margin-left: .25rem;
}
.createProjectContainer {
    border-top: 1px solid #e9ecef;
    padding: 15px;
    margin: 0 -15px -15px -15px;
}