html, body {
    height: 100%;
    background-size: cover;
    background: url(../img/puzzle-1261138.jpg) center;
}
.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background: no-repeat center;
}
.fancyPiecePreview {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
}
.fancyPiecePreview .piece {
    top: -70px;
    left: calc(100% + 100px);
}
.modal-content {
    border: 0 solid black !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25) !important;
    border-radius: 0 !important;
}
.modal-backdrop {
    background-color: #fff !important;
    background-size: cover;
    background: url(../img/puzzle-1261138.jpg) center;
}
.modal-backdrop.show {
    opacity: 0.7 !important;
}
.box {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    padding: 10px;
    margin: 10px;
    position: relative;
}
.headline {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
}
.text {
    font-size: 1.5rem;
}
h1.headline {
    margin-bottom: 0;
}
.logoPadding {
    padding-right: 133px;
}
.logo {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.width-100 {
    width: 100%;
}
.font-size-125 {
    font-size: 125%;
}
.no-margin {
    margin: 0 !important;
}
.flex-margin > :not(:last-child) {
    margin-right: .25rem;
}
.flex-margin > :not(:first-child) {
    margin-left: .25rem;
}
.createProjectContainer {
    border-top: 1px solid #e9ecef;
    padding: 15px;
    margin: 0 -15px -15px -15px;
}

.groupContainer {
    overflow: auto;
    width: 100%;
    height: 700px;
    position: relative;
    border: 1px solid #aaa;
}

.piece {
    position: absolute;
}

.piece.imageContainer img {
    position: absolute;
    transform: translate(0px, 0px);
}

.piece .sideContainer {
    position: absolute;
}
.piece .side {
    position: absolute;
    transform: perspective(3px) rotateX(5deg);
    transform-origin: bottom;
}

.piece .side.selected {
    background-color: #f00;
    box-shadow: 0 0 10px #fff;
}

.piece .side:hover, .piece .side.hover {
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 10px #fff;
}

.piece.imageContainer {
    z-index: 1;
}

.piece.buttonContainer {
    z-index: 3;
}
.piece.indexContainer {
    z-index: 2;
}
.piece .sideIndex {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    color: red;
    text-shadow: 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white;
    position: absolute;
}.piece .sideIndex.top {
    color: green;
}
.piece .sideIndex.pieceIndex {
    color: black;
}
.piece .sideIndex.pos {
    color: black;
    font-size: 10px;
}

.timingStatisticsContainer {
    max-height: 300px;
    overflow-y: auto;
}

.timingStatisticsContainer .name {
    text-align: right;
    font-size: 80%;
}
